<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/dashboard.js"></script>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               <div class="row">
                   <div class="col-4">
                        <button type="button" class="btn btn-primary">
                            Total Products <span id="TotalProducts" class="badge badge-light"></span>
                        </button>
                   </div>
                    <div class="col-4">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                                <tr>

                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Total Comments
                                    </th>
                                   
                                </tr>
                            </thead>
                            <tbody class="tbody">
                            </tbody>
                        </table>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>

