<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/product.js"></script>

<div class="container">
    <div class="row">
        <div class="col-8">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">
                        <i class="fa fa-plus"></i>
                        Create Product
                    </button><br /><br />
                    <table class="table table-sm table-bordered table-hover">
                        <thead>
                            <tr>

                                <th>
                                    Name
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Release Date
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                        </tbody>
                    </table>

                </div>
            </div>





        </div>
        <div id="CommentsSection" style="display:none" class="col-4">


            <div class="card">
                <div class="card-body">

                    <p id="SelectedProductId" style="display:none;">

                    </p>
                    <p id="SelectedProduct">

                    </p>
                    <h5>Comments</h5>
                    <div class="row">

                        <textarea id="CommentsBox" rows="5" cols="60" name="comment" placeholder="What excites you about this product ?">

         </textarea><br>
                        <button style="margin-top:5px" class="btn btn-success" id="btnAddComment" onclick="addComment();">Add Comment</button>
                    </div>

                    <div class="row">
                        <hr />
                        comments Area

                        <hr />
                        <ul id="CommentsList" class="List list-group list-group-flush">
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabel">Product</h4>

                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input style="display:none" type="text" class="form-control" id="ProductId" />
                        <input type="text" class="form-control" id="Name" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <label for="Price">Price</label>
                        <input type="number" class="form-control" id="Price" placeholder="Price" />
                    </div>
                    <div class="form-group">
                        <label for="ReleaseDate">Release Date</label>
                        <input type="date" class="form-control" id="ReleaseDate" placeholder="Release Date" />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>  